In [9]:
import pickle
from connections.mysql_connector import MySQL_Connector
from models.topic_modeling import Topic_Modeling
from connections.neo4j_connector import Neo4j_Connector
import os
from datetime import datetime
from gensim import corpora, models, similarities
from models.graph_generator import Graph_Generator
from models.tuple_extractor import Tuple_Extractor
from acessos import read, get_conn, persistir_uma_linha, persistir_multiplas_linhas, replace_df, update_banco
import pandas as pd
import re
import numpy as np
import spacy
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
from gensim.parsing.preprocessing import strip_punctuation
from sklearn.decomposition import PCA
import matplotlib.pyplot as plt
from sklearn.manifold import TSNE
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans
from yellowbrick.cluster import KElbowVisualizer
import numpy as np
from tqdm.auto import tqdm  # for notebooks
import math

In [10]:
nlp = spacy.load("pt_core_news_lg")

connector = MySQL_Connector("conn_orfeu")
db_name = "flairs2"
conn = connector.return_conn(db_name)

#conn = connector.return_conn("influencer_br")
tuple_extractor = Tuple_Extractor()

In [11]:
def transformar_componentes(df_tuplas):
    features = [atr for atr in list(df_tuplas.columns) if atr not in {"embedding_id","sentenca_id","tupla_id", "label"}]
    componentes = df_tuplas.loc[:, features].values
    return componentes


def get_df_agrupamento(tag_metodo):
    query = '''SELECT a.*, video_id 
        FROM agrupamento a 
        INNER JOIN sentencas using(sentenca_id) 
        WHERE 
            tag_metodo = '{}' AND 
            num_tuplas_candidatas <> -1'''.format(tag_metodo)

    df_agrupamento = read(conn, query)
    return df_agrupamento

def get_df_tuplas(table_name, sentenca_id):
    query = f'''select * from {table_name} where sentenca_id = {sentenca_id} and label="tupla_completa" '''
    df_tuplas = read(conn, query)
    return df_tuplas

def gerar_modelo_kmeans(componentes, k):
    kmeans = KMeans(n_clusters=k, random_state=0).fit(componentes)
    return kmeans.labels_
    
def criar_grupos_tuplas(num_tuplas_candidatas, tag_metodo, sentenca_id, video_id):
    #retorna um dict entre o index do grupo e id da tabela
    
    for index in range(num_tuplas_candidatas):
        dict_data = {
            "sentenca_id": [sentenca_id],
            "num_grupo": [index],
            "tag_metodo": [tag_metodo],
            "video_id": [video_id]
        }
        print(index)
        replace_df(pd.DataFrame(dict_data), "grupo_resumo",conn)
    
    query = f'''SELECT * 
                FROM 
                    grupo_resumo 
                WHERE 
                    video_id = '{video_id}' AND 
                    tag_metodo = '{tag_metodo}' AND 
                    sentenca_id = '{sentenca_id}'   
            '''
    df_grupos = read(conn, query)
    
    dict_de_para ={}
    for row in df_grupos.iterrows(): 
        grupo_id = row[1]['grupo_id']
        num_grupo = row[1]['num_grupo']
        dict_de_para[num_grupo] = grupo_id 
        
    return df_grupos, dict_de_para

Informe o método a ser processado:
tsne_distortion
Informe a tabela origem (tsne/embedding):
tsne
Processando sentença 3 do vídeo --K2l7qd7W0

NameError: name 'dict_de_para' is not defined

## Montando Grupos de Tuplas

In [12]:
def criar_grupo(tag_metodo, sentenca_id, video_id, num_grupo):
    dict_data = {
        "tag_metodo": [tag_metodo],
        "sentenca_id": [sentenca_id],
        "video_id": [video_id],
        "num_grupo": [num_grupo]
    }
    df_grupo = pd.DataFrame(dict_data)
    return df_grupo

def get_df_tuplas(table_name, sentenca_id):
    query = f'''select * from {table_name} where sentenca_id = {sentenca_id} and label="tupla_completa" '''
    df_tuplas = read(conn, query)
    return df_tuplas

def transformar_componentes(df_tuplas):
    features = [atr for atr in list(df_tuplas.columns) if atr not in {"embedding_id","sentenca_id","tupla_id", "label"}]
    componentes = df_tuplas.loc[:, features].values
    return componentes

def buscar_grupos(tag_metodo, sentenca_id):
    query = f'''SELECT * FROM grupo_resumo WHERE tag_metodo = "{tag_metodo}" and sentenca_id = {sentenca_id};'''
    return read(conn, query)

In [13]:
connector = MySQL_Connector("conn_orfeu")
conn = connector.return_conn(db_name)

#embedding_distortion
print("Informe o método a ser processado:")
tag_metodo = input()

print("Informe a tabela origem (tsne/embedding):")
table_name = input()


df_agrupamento = get_df_agrupamento(tag_metodo)

#Iterando Setenças
for row in df_agrupamento.iterrows():
    sentenca_id = row[1]['sentenca_id']
    num_tuplas_candidatas = row[1]['num_tuplas_candidatas']
    tag_metodo = row[1]['tag_metodo']
    video_id = row[1]['video_id']
    
    print("Processando a sent: {}".format(sentenca_id))
    
    #Criando os grupos
    print("   -> Criando Grupos:")
    for num_grupo in range(0, num_tuplas_candidatas):
        df_grupo = criar_grupo(tag_metodo, sentenca_id, video_id, num_grupo)
        status = replace_df(df_grupo,"grupo_resumo", conn)
    
    df_grupos_criados = buscar_grupos(tag_metodo, sentenca_id)    

    #Buscando tuplas das sentenças
    df_tuplas = get_df_tuplas(table_name, sentenca_id) 

    
    componentes = transformar_componentes(df_tuplas)
    labels = gerar_modelo_kmeans(componentes, num_tuplas_candidatas) 
    
    df_tuplas['label'] = labels
    df_tuplas['label'] = df_tuplas['label'].astype(int)
    
   
    df_tupla_grupo =  pd.merge(df_tuplas,
                    df_grupos_criados,
                    how='inner',
                    left_on=['label', 'sentenca_id'],
                    right_on=['num_grupo', 'sentenca_id']
                   )
    df_tupla_grupo = df_tupla_grupo[['tupla_id','grupo_id']]
    print("   -> Adicionando Tupla Grupo:")
    lista_erros = []
    
    df_tupla_grupo['grupo_id'] = df_tupla_grupo['grupo_id'].astype(str)
    df_tupla_grupo['tupla_id'] = df_tupla_grupo['tupla_id'].astype(str)
    
    print("*************")
    print(df_tupla_grupo.dtypes)
    print(df_tupla_grupo.head())
    print("*****%%******")
    
    status = replace_df(df_tupla_grupo,"tupla_grupo", conn)
    if status == -1:
        lista_erros.append(sentenca_id)
        break

Informe o método a ser processado:
tsne_distortion_grupo_100
Informe a tabela origem (tsne/embedding):
tsne
Processando a sent: 4
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0       39    41969
1       40    41969
2       42    41969
3       44    41969
4       45    41969
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 6
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0       62    41973
1       63    41970
2       65    41970
3       64    41971
4       66    41971
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 7
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0       73    41976
1       74    41976
2       83    41976
3       75    41977
4       76    41975
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 8
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0       86    41979
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 11
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0      113    41980
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 13
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0      117    41981
1      120    41981
2      118    41982
3      119    41982
4      121    41982
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 16
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0      166    41985
1      167    41985
2      169    41985
3      170    41985
4      171    41985
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 18
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0      187    41988
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 22
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0      197    41989
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 23
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0      198    41991
1      199    41991
2      202    41991
3      200    41990
4      201    41990
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 24
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0      207    41994
1      208    41995
2      209    41993
3      210    41993
4      211    41993
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 26
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0      216    41996
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 28
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0      219    41997
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 29
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0      220    41998
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 38
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0      333    42001
1      334    42001
2      335    42001
3      336    42001
4      337    41999
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 39
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0      341    42003
1      342    42003
2      343    42003
3      344    42003
4      345    42003
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 45
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0      769    42015
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 54
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0      910    42016
1      912    42016
2      913    42016
3      914    42016
4      916    42016
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 55
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0      922    42023
1      924    42023
2      927    42023
3      923    42020
4      925    42020
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 57
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0      937    42024
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 62
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção

   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0      972    42027
1      979    42027
2      973    42025
3      975    42025
4      977    42025
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 64
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0      998    42028
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 69
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     1043    42029
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 70
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     1044    42032
1     1052    42032
2     1045    42033
3     1047    42033
4     1048    42033
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 82
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     1160    42036
1     1161    42036
2     1162    42036
3     1163    42035
4     1164    42034
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 85
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     1175    42037
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 86
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     1176    42038
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 88
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     1182    42039
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 89
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     1183    42040
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 94
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     1195    42041
1     1196    42041
2     1198    42041
3     1197    42043
4     1199    42043
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 95
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     1202    42044
1     1203    42044
2     1206    42044
3     1209    42044
4     1204    42046
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 97
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     1216    42047
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 98
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     1217    42048
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 100
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     1222    42050
1     1223    42050
2     1224    42050
3     1225    42050
4     1226    42050
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 102
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     1286    42052
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 103
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     1287    42056
1     1288    42056
2     1289    42056
3     1290    42056
4     1291    42054
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 104
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     1295    42057
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 107
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     1347    42060
1     1348    42060
2     1349    42060
3     1350    42060
4     1353    42060
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 109
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     1358    42061
1     1359    42061
2     1360    42061
3     1382    42061
4     1383    42061
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 110
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     1483    42070
1     1484    42070
2     1503    42070
3     1576    42070
4     1589    42070
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 111
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção

   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     1638    42086
1     1639    42086
2     1640    42086
3     1655    42086
4     1676    42086
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 113
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     1985    42094
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 117
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     1997    42095
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 119
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     2003    42098
1     2007    42098
2     2009    42098
3     2004    42096
4     2008    42096
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 120
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     2015    42102
1     2019    42102
2     2016    42099
3     2017    42099
4     2018    42099
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 121
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     2025    42103
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 123
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     2058    42105
1     2062    42105
2     2064    42105
3     2059    42106
4     2060    42107
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 124
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     2067    42109
1     2068    42111
2     2072    42111
3     2069    42110
4     2074    42110
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 127
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     2084    42112
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 131
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     2143    42114
1     2144    42114
2     2145    42114
3     2148    42114
4     2149    42114
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 135
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     2178    42117
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 137
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     2190    42120
1     2191    42120
2     2192    42120
3     2193    42120
4     2194    42120
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 139
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     2208    42122
1     2209    42122
2     2210    42121
3     2212    42121
4     2214    42121
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 140
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     2215    42124
1     2216    42124
2     2217    42124
3     2218    42124
4     2219    42124
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 141
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     2224    42128
1     2225    42128
2     2226    42127
3     2227    42127
4     2228    42127
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 142
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     2235    42131
1     2236    42131
2     2242    42131
3     2244    42131
4     2246    42131
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 144
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     2254    42135
1     2255    42135
2     2256    42135
3     2257    42135
4     2258    42135
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 147
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     2296    42140
1     2297    42140
2     2298    42140
3     2299    42138
4     2302    42138
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 150
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     2310    42142
1     2311    42142
2     2312    42141
3     2313    42141
4     2314    42141
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 152
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     2337    42144
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 153
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção

   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     2338    42146
1     2343    42146
2     2339    42148
3     2340    42148
4     2344    42148
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 154
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     2349    42152
1     2350    42149
2     2353    42149
3     2351    42151
4     2352    42151
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 155
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     2360    42153
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 157
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     2364    42154
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 159
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     2371    42155
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 160
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     2372    42156
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 167
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     2405    42157
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 169
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     2428    42160
1     2432    42160
2     2433    42160
3     2434    42160
4     2436    42160
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 170
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     2438    42162
1     2440    42162
2     2442    42162
3     2443    42162
4     2444    42162
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 171
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     2447    42164
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 177
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     2478    42165
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 178
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     2479    42166
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 180
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     2482    42168
1     2495    42168
2     2483    42167
3     2485    42167
4     2486    42167
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 181
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     2496    42170
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 183
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     2499    42171
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 184
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     2500    42172
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 185
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     2501    42173
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 186
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     2502    42174
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 188
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     2505    42175
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 190
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     2511    42176
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 191
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     2512    42178
1     2513    42179
2     2514    42177
3     2515    42177
4     2516    42177
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 193
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     2523    42180
1     2527    42180
2     2524    42181
3     2525    42181
4     2526    42181
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 195
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     2532    42183
1     2535    42183
2     2533    42185
3     2534    42185
4     2537    42185
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 196
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     2541    42189
1     2542    42187
2     2550    42187
3     2543    42186
4     2544    42186
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 201
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     2592    42191
1     2593    42191
2     2594    42191
3     2599    42191
4     2601    42191
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 209
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia

Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     2648    42193
1     2649    42193
2     2656    42193
3     2657    42193
4     2659    42193
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 211
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     2665    42198
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 214
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     2693    42199
1     2694    42199
2     2697    42199
3     2698    42199
4     2695    42200
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 216
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     2703    42202
1     2704    42202
2     2705    42202
3     2708    42202
4     2709    42202
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 220
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     2720    42205
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 221
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     2721    42206
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 222
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     2722    42207
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 223
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     2723    42208
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 228
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     2742    42209
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 229
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     2743    42210
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 230
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     2744    42212
1     2745    42212
2     2746    42212
3     2751    42212
4     2752    42212
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 232
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     2770    42216
1     2771    42216
2     2772    42216
3     2775    42216
4     2777    42216
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 236
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     2787    42219
1     2788    42221
2     2791    42221
3     2793    42221
4     2789    42218
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 237
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     2797    42224
1     2800    42224
2     2798    42223
3     2799    42223
4     2802    42223
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 239
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     2811    42227
1     2812    42227
2     2813    42227
3     2817    42227
4     2818    42227
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 240
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     2824    42231
1     2825    42231
2     2828    42231
3     2826    42229
4     2827    42229
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 241
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     2836    42234
1     2837    42234
2     2840    42234
3     2842    42234
4     2838    42236
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 244
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     2847    42237
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 245
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     2848    42238
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 249
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     2863    42239
1     2864    42239
2     2866    42239
3     2867    42239
4     2868    42239
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 251
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     2878    42242
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 252
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     2879    42243
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 259
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     2898    42246
1     2899    42246
2     2900    42244
3     2901    42244
4     2905    42244
*****%%******
Iniciando Persistencia

Sucesso na inserção
Processando a sent: 260
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     2909    42247
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 261
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     2910    42248
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 264
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     2919    42249
1     2920    42249
2     2921    42249
3     2922    42249
4     2923    42249
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 266
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     2931    42252
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 267
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     2932    42253
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 268
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     2933    42254
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 272
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     2946    42255
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 278
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     2963    42256
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 285
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     2979    42257
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 286
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     2980    42258
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 287
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     2981    42259
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 289
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     3013    42260
1     3025    42260
2     3014    42261
3     3016    42261
4     3017    42261
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 293
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     3038    42267
1     3039    42265
2     3040    42265
3     3041    42265
4     3042    42265
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 294
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     3046    42268
1     3047    42268
2     3048    42268
3     3049    42268
4     3050    42268
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 298
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     3088    42272
1     3093    42272
2     3096    42272
3     3089    42271
4     3090    42271
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 299
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     3101    42275
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 301
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     3121    42277
1     3124    42277
2     3122    42276
3     3123    42276
4     3125    42276
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 306
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     3194    42279
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 309
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     3270    42280
1     3272    42280
2     3273    42280
3     3271    42284
4     3274    42281
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 311
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     3345    42285
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 312
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     3346    42286
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 314
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     3355    42287
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 317
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     3389    42288
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 318
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     3390    42289
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 319
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção

   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     3391    42290
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 331
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     3477    42292
1     3478    42292
2     3482    42292
3     3479    42293
4     3485    42293
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 334
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     3504    42295
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 337
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     3510    42296
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 346
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     3568    42297
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 347
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     3569    42298
1     3570    42298
2     3573    42298
3     3575    42298
4     3571    42300
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 352
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     3588    42301
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 353
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     3589    42302
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 355
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     3592    42303
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 356
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     3593    42306
1     3596    42306
2     3594    42304
3     3597    42304
4     3595    42305
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 357
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     3599    42307
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 359
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     3623    42308
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 361
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     3627    42309
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 365
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     3652    42311
1     3653    42310
2     3654    42310
3     3655    42310
4     3656    42310
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 366
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     3660    42313
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 369
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     3696    42315
1     3702    42315
2     3705    42315
3     3697    42314
4     3698    42314
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 370
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     3706    42317
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 371
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     3707    42319
1     3708    42319
2     3709    42319
3     3710    42318
4     3711    42318
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 374
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     3777    42323
1     3778    42321
2     3779    42321
3     3780    42321
4     3781    42321
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 379
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     3819    42325
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 380
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     3820    42326
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 381
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     3821    42327
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 382
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     3822    42331
1     3827    42331
2     3823    42329
3     3824    42329
4     3825    42330
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 383
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     3830    42332
1     3831    42332
2     3834    42332
3     3835    42332
4     3836    42332
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 388
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object

dtype: object
  tupla_id grupo_id
0     3849    42337
1     3850    42337
2     3851    42337
3     3852    42337
4     3853    42336
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 391
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     3866    42340
1     3871    42340
2     3872    42340
3     3875    42340
4     3867    42339
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 392
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     3876    42343
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 393
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     3877    42344
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 395
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     3880    42345
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 398
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     3887    42346
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 399
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     3888    42347
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 401
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     3891    42348
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 402
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     3892    42349
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 405
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     3901    42350
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 413
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     3961    42351
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 417
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     3972    42352
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 418
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     3973    42353
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 420
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     3977    42354
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 423
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     3986    42355
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 424
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     3987    42356
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 425
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     3988    42357
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 428
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     3994    42358
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 429
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     3995    42359
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 430
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     3996    42361
1     3997    42361
2     3998    42360
3     3999    42360
4     4000    42360
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 433
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     4011    42363
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 436
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     4020    42364
1     4024    42364
2     4025    42364
3     4026    42364
4     4021    42366
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 439
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     4032    42370
1     4033    42369
2     4034    42369
3     4038    42369
4     4039    42369
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 444
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     4050    42371
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 451
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     4098    42372
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 453
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     4101    42373
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 458
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     4147    42374
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 459
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção

   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     4148    42375
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 460
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     4149    42376
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 461
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     4150    42377
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 462
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     4151    42380
1     4152    42380
2     4153    42379
3     4154    42378
4     4155    42378
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 468
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     4174    42381
1     4175    42381
2     4177    42381
3     4178    42381
4     4179    42381
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 469
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     4184    42385
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 474
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     4278    42396
1     4281    42396
2     4283    42396
3     4419    42396
4     4420    42396
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 483
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     5265    42400
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 484
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     5266    42401
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 486
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     5271    42402
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 487
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     5272    42403
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 490
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     5299    42404
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 495
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     5312    42405
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 496
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     5313    42406
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 497
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     5314    42407
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 499
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     5320    42409
1     5321    42409
2     5322    42410
3     5323    42408
4     5324    42408
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 502
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     5333    42411
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 504
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     5337    42412
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 508
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     5349    42413
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 509
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     5350    42414
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 511
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     5355    42415
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 513
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     5359    42416
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 518
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     5375    42420
1     5376    42419
2     5379    42419
3     5383    42419
4     5377    42418
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 522
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     5395    42421
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 523
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     5396    42422
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 528
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção

   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     5409    42423
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 533
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     5420    42424
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 538
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     5432    42425
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 539
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     5433    42426
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 540
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     5434    42427
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 542
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     5437    42429
1     5438    42429
2     5439    42429
3     5440    42429
4     5441    42428
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 543
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     5444    42431
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 544
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     5445    42432
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 545
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     5446    42433
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 547
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     5450    42436
1     5451    42436
2     5455    42436
3     5456    42436
4     5457    42436
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 549
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     5465    42438
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 550
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     5466    42439
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 551
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     5467    42440
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 552
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     5468    42441
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 553
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     5469    42442
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 554
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     5470    42443
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 555
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     5471    42444
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 558
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     5479    42445
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 559
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     5480    42446
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 560
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     5481    42447
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 561
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     5482    42448
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 562
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     5483    42449
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 565
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     5489    42450
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 570
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     5535    42451
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 571
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     5536    42452
1     5540    42452
2     5537    42454
3     5542    42454
4     5538    42453
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 572
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     5544    42455
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 577
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     5597    42458
1     5602    42458
2     5604    42458
3     5606    42458
4     5608    42458
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 578
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção

   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     5609    42460
1     5610    42460
2     5611    42460
3     5614    42460
4     5612    42459
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 580
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     5619    42462
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 585
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     5655    42465
1     5658    42465
2     5660    42465
3     5656    42463
4     5659    42463
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 586
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     5662    42468
1     5667    42468
2     5672    42468
3     5673    42468
4     5663    42467
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 588
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     5682    42469
1     5683    42469
2     5684    42469
3     5685    42469
4     5686    42469
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 591
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     5707    42473
1     5708    42473
2     5711    42473
3     5712    42473
4     5713    42473
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 594
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     5722    42476
1     5723    42476
2     5724    42476
3     5725    42476
4     5726    42476
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 600
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     5764    42479
1     5767    42479
2     5769    42479
3     5771    42479
4     5765    42480
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 609
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     5847    42484
1     5853    42484
2     5854    42484
3     5848    42483
4     5849    42482
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 616
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     5913    42486
1     5914    42486
2     5915    42486
3     5919    42486
4     5916    42485
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 617
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     5921    42488
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 618
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     5922    42491
1     5923    42490
2     5924    42490
3     5925    42490
4     5927    42490
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 619
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     5929    42493
1     5933    42493
2     5930    42494
3     5931    42492
4     5932    42492
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 624
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     5995    42496
1     5999    42496
2     6001    42496
3     5996    42497
4     5997    42497
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 626
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     6006    42499
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 627
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     6007    42502
1     6008    42501
2     6009    42501
3     6014    42501
4     6015    42501
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 630
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     6026    42503
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 632
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     6030    42504
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 634
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     6045    42505
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 641
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     6067    42509
1     6068    42509
2     6069    42509
3     6070    42507
4     6072    42507
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 647
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     6125    42510
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 649
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção

   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     6132    42511
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 650
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     6133    42512
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 651
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     6134    42515
1     6135    42515
2     6136    42515
3     6138    42515
4     6137    42513
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 656
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     6157    42517
1     6160    42517
2     6158    42519
3     6159    42519
4     6163    42519
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 663
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     6233    42521
1     6234    42521
2     6235    42521
3     6236    42521
4     6237    42522
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 666
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     6251    42525
1     6252    42525
2     6256    42525
3     6257    42525
4     6253    42526
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 668
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     6260    42527
1     6263    42527
2     6272    42527
3     6261    42529
4     6262    42529
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 669
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     6273    42535
1     6281    42535
2     6274    42532
3     6275    42532
4     6276    42532
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 670
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     6285    42536
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 673
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     6392    42537
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 676
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     6399    42539
1     6403    42539
2     6400    42538
3     6401    42538
4     6402    42538
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 678
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     6413    42542
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 682
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     6430    42543
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 683
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     6431    42547
1     6432    42545
2     6433    42545
3     6434    42544
4     6437    42544
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 688
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     6467    42548
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 690
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     6474    42550
1     6477    42550
2     6475    42549
3     6478    42549
4     6480    42549
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 691
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     6481    42552
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 692
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     6482    42554
1     6483    42553
2     6484    42553
3     6485    42553
4     6487    42553
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 693
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     6494    42557
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 695
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     6498    42558
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 699
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     6507    42560
1     6511    42560
2     6508    42561
3     6509    42561
4     6510    42561
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 702
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     6530    42562
1     6534    42562
2     6535    42562
3     6531    42564
4     6532    42564
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 707
   -> Criando Grupos:
Iniciando Persistencia

Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     6553    42566
1     6556    42566
2     6554    42567
3     6555    42567
4     6559    42567
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 708
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     6560    42568
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 709
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     6561    42569
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 714
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     6573    42570
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 717
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     6584    42571
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 719
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     6589    42572
1     6592    42572
2     6593    42572
3     6594    42572
4     6590    42573
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 722
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     6605    42575
1     6608    42575
2     6609    42575
3     6611    42575
4     6606    42577
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 727
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     6631    42578
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 728
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     6632    42579
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 731
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     6643    42580
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 733
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     6646    42582
1     6647    42582
2     6648    42582
3     6649    42581
4     6650    42581
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 737
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     6665    42584
1     6666    42584
2     6668    42584
3     6670    42584
4     6667    42585
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 739
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     6692    42588
1     6693    42588
2     6694    42588
3     6695    42588
4     6696    42588
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 743
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     6713    42591
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 747
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     6724    42592
1     6725    42592
2     6726    42592
3     6727    42592
4     6728    42592
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 749
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     6738    42598
1     6746    42598
2     6739    42596
3     6747    42596
4     6740    42595
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 750
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     6748    42602
1     6749    42600
2     6750    42600
3     6755    42600
4     6756    42600
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 763
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     6863    42603
1     6866    42603
2     6869    42603
3     6864    42604
4     6865    42604
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 768
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     6891    42606
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 771
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     6899    42607
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 774
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     6904    42609
1     6905    42609
2     6908    42609
3     6909    42609
4     6906    42608
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 779
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     6926    42611
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 783
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção

   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     6965    42613
1     6966    42612
2     6969    42612
3     6967    42614
4     6968    42614
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 784
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     6972    42615
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 788
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     6981    42616
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 791
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     7013    42617
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 793
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     7016    42618
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 799
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     7031    42621
1     7032    42621
2     7033    42621
3     7034    42619
4     7035    42619
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 803
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     7048    42624
1     7054    42624
2     7049    42623
3     7053    42623
4     7050    42622
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 805
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     7060    42625
1     7064    42625
2     7061    42627
3     7062    42627
4     7066    42627
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 812
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     7105    42628
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 816
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     7116    42629
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 818
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     7123    42630
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 821
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     7130    42631
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 822
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     7131    42632
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 823
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     7132    42633
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 836
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     7187    42635
1     7188    42634
2     7189    42634
3     7190    42634
4     7191    42634
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 839
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     7201    42637
1     7203    42637
2     7204    42637
3     7205    42637
4     7206    42637
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 842
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     7217    42643
1     7223    42643
2     7218    42641
3     7224    42641
4     7219    42642
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 845
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     7232    42644
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 848
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     7240    42647
1     7241    42647
2     7242    42647
3     7244    42647
4     7243    42645
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 851
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     7258    42650
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 852
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     7259    42651
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 854
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     7263    42653
1     7264    42653
2     7265    42653
3     7266    42652
4     7272    42652
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 860
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     7291    42656
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 862
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     7295    42657
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 863
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção

   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     7296    42658
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 864
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     7297    42659
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 866
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     7300    42662
1     7304    42662
2     7301    42661
3     7302    42661
4     7305    42661
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 867
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     7312    42665
1     7314    42665
2     7315    42665
3     7318    42665
4     7313    42664
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 871
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     7331    42668
1     7332    42666
2     7333    42666
3     7334    42666
4     7335    42666
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 873
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     7341    42670
1     7347    42670
2     7342    42671
3     7346    42671
4     7343    42669
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 874
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     7348    42674
1     7349    42674
2     7350    42674
3     7354    42674
4     7351    42673
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 875
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     7361    42677
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 877
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     7367    42678
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 886
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     7397    42681
1     7399    42681
2     7400    42681
3     7401    42681
4     7404    42681
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 889
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     7421    42684
1     7422    42684
2     7424    42684
3     7426    42684
4     7423    42683
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 890
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     7429    42687
1     7430    42688
2     7435    42688
3     7431    42686
4     7432    42686
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 893
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     7444    42689
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 895
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     7449    42690
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 899
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     7458    42691
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 900
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     7459    42692
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 901
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     7460    42694
1     7464    42694
2     7461    42695
3     7462    42695
4     7466    42695
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 903
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     7471    42696
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 905
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     7477    42697
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 907
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     7480    42698
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 908
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     7481    42700
1     7482    42699
2     7483    42699
3     7484    42699
4     7485    42699
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 909
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     7488    42702
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 914
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     7557    42705
1     7558    42703
2     7560    42703
3     7562    42703
4     7564    42703
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 915
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção

   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     7566    42706
1     7616    42706
2     7618    42706
3     7625    42706
4     7658    42706
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 923
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     7970    42719
1     7992    42719
2     7993    42719
3     7994    42719
4     7995    42719
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 924
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     8244    42726
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 931
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     8478    42727
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 932
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     8479    42729
1     8489    42729
2     8480    42730
3     8481    42730
4     8483    42730
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 936
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     8497    42733
1     8502    42733
2     8498    42731
3     8500    42731
4     8499    42732
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 938
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     8507    42734
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 941
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     8513    42738
1     8514    42735
2     8516    42735
3     8518    42735
4     8515    42737
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 945
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     8534    42739
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 946
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     8535    42740
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 947
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     8536    42741
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 948
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     8537    42742
1     8538    42742
2     8542    42742
3     8539    42744
4     8540    42744
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 950
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     8548    42745
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 951
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     8549    42747
1     8556    42747
2     8550    42748
3     8551    42746
4     8552    42746
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 956
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     8574    42751
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 957
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     8575    42752
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 958
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     8576    42754
1     8584    42754
2     8585    42754
3     8586    42754
4     8577    42753
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 959
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     8587    42758
1     8588    42758
2     8589    42758
3     8592    42758
4     8590    42759
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 960
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     8601    42761
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 963
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     8609    42762
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 968
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     8663    42763
1     8664    42763
2     8667    42763
3     8668    42763
4     8665    42764
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 971
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     8714    42766
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 972
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção

   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     8715    42767
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 973
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     8716    42769
1     8717    42770
2     8721    42770
3     8718    42768
4     8719    42768
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 980
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     8814    42772
1     8817    42772
2     8818    42772
3     8821    42772
4     8815    42773
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 982
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     8863    42777
1     8864    42777
2     8865    42776
3     8866    42776
4     8867    42776
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 983
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     8871    42779
1     8872    42779
2     8875    42779
3     8876    42779
4     8873    42780
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 984
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     8879    42782
1     8886    42782
2     8880    42783
3     8882    42783
4     8883    42783
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 986
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     8922    42786
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 987
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     8923    42787
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 988
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     8924    42789
1     8925    42790
2     8929    42790
3     8926    42788
4     8927    42788
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 995
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     9022    42792
1     9025    42792
2     9026    42792
3     9029    42792
4     9023    42793
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 997
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     9071    42797
1     9072    42797
2     9073    42796
3     9074    42796
4     9075    42796
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1002
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     9413    42800
1     9414    42800
2     9417    42800
3     9418    42800
4     9434    42800
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1008
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0     9836    42812
1     9838    42812
2     9837    42810
3     9839    42810
4     9841    42810
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1013
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    13047    42814
1    13052    42814
2    13057    42814
3    13048    42813
4    13049    42813
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1014
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    13058    42818
1    13059    42818
2    13060    42816
3    13061    42816
4    13062    42816
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1015
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    13068    42820
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1020
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    13084    42823
1    13089    42823
2    13092    42823
3    13085    42824
4    13086    42824
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1021
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    13097    42827
1    13098    42827
2    13101    42827
3    13103    42827
4    13099    42828
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1022
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    13106    42829
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1028
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção

   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    13127    42830
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1029
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    13128    42831
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1030
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    13129    42832
1    13130    42832
2    13131    42832
3    13132    42832
4    13133    42832
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1032
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    13143    42837
1    13144    42837
2    13145    42837
3    13148    42837
4    13151    42837
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1034
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    13154    42838
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1036
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    13158    42841
1    13159    42839
2    13160    42839
3    13162    42839
4    13164    42839
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1041
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    13177    42842
1    13182    42842
2    13186    42842
3    13187    42842
4    13188    42842
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1042
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    13190    42846
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1047
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    13224    42850
1    13229    42850
2    13225    42849
3    13230    42849
4    13226    42848
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1051
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    13258    42851
1    13261    42851
2    13262    42851
3    13259    42853
4    13260    42853
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1053
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    13278    42854
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1057
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    13329    42857
1    13334    42857
2    13330    42856
3    13331    42856
4    13336    42856
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1060
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    13345    42858
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1068
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    13466    42860
1    13471    42860
2    13472    42860
3    13477    42860
4    13467    42859
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1070
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    13506    42867
1    13507    42867
2    13508    42867
3    13509    42867
4    13533    42867
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1075
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    13796    42878
1    13797    42878
2    13801    42878
3    13868    42878
4    13869    42878
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1077
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    14386    42884
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1079
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    14405    42887
1    14406    42887
2    14407    42887
3    14408    42885
4    14412    42885
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1080
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    14414    42889
1    14415    42889
2    14421    42889
3    14422    42889
4    14416    42890
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1084
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    14433    42891
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1085
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção

   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    14434    42894
1    14435    42894
2    14438    42894
3    14441    42894
4    14442    42894
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1086
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    14444    42895
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1091
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    14487    42896
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1094
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    14522    42897
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1098
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    14566    42898
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1099
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    14567    42901
1    14573    42901
2    14568    42900
3    14569    42900
4    14571    42900
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1104
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    14699    42905
1    14700    42905
2    14701    42905
3    14702    42905
4    14783    42905
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1106
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    14932    42925
1    14933    42925
2    14934    42925
3    14935    42925
4    14936    42925
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1107
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    16118    42932
1    16141    42932
2    16142    42932
3    16158    42932
4    16200    42932
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1112
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    16901    42944
1    16902    42944
2    16903    42944
3    16907    42944
4    16904    42946
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1114
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    16912    42949
1    16913    42949
2    16914    42948
3    16919    42948
4    16915    42947
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1116
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    16931    42950
1    16934    42950
2    16932    42953
3    16933    42951
4    16935    42951
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1117
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    16940    42956
1    16941    42955
2    16942    42955
3    16945    42955
4    16946    42955
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1118
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    16947    42959
1    16951    42959
2    16952    42959
3    16953    42959
4    16954    42959
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1119
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    16957    42961
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1122
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    16985    42962
1    16988    42962
2    16991    42962
3    16993    42962
4    16986    42964
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1126
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    17009    42966
1    17010    42966
2    17011    42966
3    17012    42966
4    17013    42966
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1129
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção

   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    17026    42971
1    17027    42970
2    17031    42970
3    17028    42969
4    17029    42969
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1134
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    17176    42973
1    17177    42973
2    17178    42973
3    17180    42973
4    17179    42975
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1137
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    17209    42976
1    17210    42976
2    17212    42976
3    17213    42976
4    17216    42976
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1139
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    17223    42979
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1140
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    17224    42980
1    17225    42980
2    17236    42980
3    17226    42982
4    17227    42982
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1141
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    17237    42984
1    17238    42984
2    17239    42985
3    17240    42985
4    17244    42985
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1144
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    17328    42992
1    17331    42992
2    17357    42992
3    17376    42992
4    17377    42992
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1147
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    17755    42997
1    17760    42997
2    17756    42998
3    17762    42998
4    17764    42998
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1148
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    17769    43001
1    17771    43001
2    17774    43001
3    17776    43001
4    17770    43002
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1150
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    17786    43003
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1152
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    17789    43004
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1154
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    17793    43007
1    17794    43005
2    17795    43005
3    17796    43005
4    17797    43005
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1155
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    17802    43009
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1156
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    17803    43010
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1157
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    17804    43012
1    17810    43012
2    17805    43013
3    17811    43013
4    17812    43013
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1159
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    17815    43015
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1162
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    17825    43016
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1163
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    17826    43017
1    17827    43017
2    17828    43017
3    17830    43017
4    17832    43017
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1170
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    17889    43020
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1171
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    17890    43022
1    17897    43022
2    17891    43024
3    17892    43024
4    17893    43021
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1172
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    17898    43026
1    17900    43026
2    17899    43025
3    17901    43025
4    17902    43025
*****%%******
Iniciando Persistencia

Sucesso na inserção
Processando a sent: 1173
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    17908    43028
1    17912    43028
2    17909    43029
3    17910    43029
4    17913    43029
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1176
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    17925    43032
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1177
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    17926    43033
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1178
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    17927    43034
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1179
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    17928    43037
1    17934    43037
2    17929    43035
3    17930    43035
4    17931    43035
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1181
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    17937    43038
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1190
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    18030    43039
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1191
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    18031    43040
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1192
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    18032    43043
1    18035    43043
2    18033    43041
3    18034    43041
4    18036    43041
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1193
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    18039    43047
1    18044    43047
2    18040    43044
3    18043    43044
4    18046    43044
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1200
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    18110    43050
1    18113    43050
2    18111    43049
3    18115    43049
4    18112    43048
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1201
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    18116    43052
1    18117    43052
2    18118    43052
3    18119    43051
4    18120    43051
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1202
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    18123    43054
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1204
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    18126    43055
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1206
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    18132    43056
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1208
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    18138    43057
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1209
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    18139    43059
1    18140    43059
2    18144    43059
3    18145    43059
4    18146    43059
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1210
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    18151    43062
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1211
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    18152    43064
1    18159    43064
2    18153    43063
3    18154    43063
4    18155    43063
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1212
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    18162    43066
1    18165    43066
2    18166    43066
3    18167    43066
4    18163    43067
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1214
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    18188    43070
1    18189    43070
2    18190    43071
3    18193    43071
4    18196    43071
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1217
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    18232    43073
1    18233    43073
2    18235    43073
3    18234    43074
4    18236    43072
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1218
   -> Criando Grupos:
Iniciando Persistencia

Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    18240    43075
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1220
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    18263    43076
1    18266    43076
2    18264    43079
3    18265    43079
4    18267    43079
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1227
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    18352    43080
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1228
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    18353    43082
1    18354    43082
2    18357    43082
3    18358    43082
4    18355    43083
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1229
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    18364    43086
1    18365    43085
2    18366    43085
3    18367    43085
4    18369    43085
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1230
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    18376    43089
1    18377    43089
2    18378    43089
3    18379    43090
4    18382    43090
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1232
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    18386    43093
1    18389    43093
2    18387    43091
3    18388    43091
4    18390    43091
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1237
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    18423    43094
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1242
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    18456    43095
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1243
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    18457    43096
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1248
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    18466    43098
1    18467    43098
2    18475    43098
3    18468    43097
4    18469    43097
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1249
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    18477    43105
1    18484    43105
2    18478    43101
3    18485    43101
4    18487    43101
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1251
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    18493    43106
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1252
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    18494    43108
1    18496    43108
2    18497    43108
3    18495    43107
4    18498    43107
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1253
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    18507    43111
1    18508    43111
2    18509    43112
3    18510    43112
4    18511    43112
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1256
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    18547    43115
1    18548    43115
2    18549    43115
3    18550    43115
4    18551    43114
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1265
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    18608    43117
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1271
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    18665    43118
1    18666    43118
2    18667    43118
3    18668    43118
4    18669    43118
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1273
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    18682    43121
1    18683    43121
2    18684    43121
3    18685    43121
4    18686    43121
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1277
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    18732    43124
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1278
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    18733    43125
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1286
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção

   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    18759    43127
1    18760    43126
2    18761    43126
3    18762    43126
4    18763    43126
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1287
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    18768    43130
1    18773    43130
2    18769    43131
3    18770    43129
4    18771    43129
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1289
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    18794    43134
1    18803    43134
2    18795    43132
3    18796    43132
4    18797    43132
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1290
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    18807    43141
1    18808    43139
2    18810    43139
3    18813    43139
4    18817    43139
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1294
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    18871    43142
1    18872    43142
2    18873    43142
3    18874    43142
4    18876    43142
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1295
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    18882    43147
1    18888    43147
2    18883    43148
3    18884    43148
4    18885    43148
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1297
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    18893    43150
1    18894    43150
2    18895    43150
3    18896    43150
4    18897    43150
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1298
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    18900    43154
1    18902    43154
2    18903    43154
3    18901    43153
4    18904    43153
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1300
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    18952    43156
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1301
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    18953    43157
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1305
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    18966    43159
1    18967    43160
2    18970    43160
3    18973    43160
4    18968    43158
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1311
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    19005    43163
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1314
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    19056    43164
1    19057    43164
2    19058    43164
3    19059    43164
4    19060    43164
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1315
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    19067    43169
1    19073    43169
2    19068    43170
3    19069    43168
4    19070    43168
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1318
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    19085    43171
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1319
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    19086    43172
1    19089    43172
2    19091    43172
3    19087    43176
4    19088    43176
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1320
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    19097    43178
1    19098    43178
2    19101    43178
3    19099    43177
4    19102    43177
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1329
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    19181    43180
1    19183    43180
2    19185    43180
3    19186    43180
4    19187    43180
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1330
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    19189    43183
1    19192    43183
2    19193    43183
3    19190    43185
4    19191    43185
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1331
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção

   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    19197    43187
1    19198    43187
2    19199    43187
3    19201    43187
4    19203    43187
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1332
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    19207    43190
1    19210    43190
2    19211    43190
3    19208    43192
4    19212    43192
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1335
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    19222    43193
1    19225    43193
2    19226    43193
3    19223    43194
4    19224    43194
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1337
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    19233    43196
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1338
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    19234    43197
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1342
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    19255    43198
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1343
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    19256    43199
1    19257    43199
2    19258    43199
3    19259    43199
4    19261    43199
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1344
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    19266    43202
1    19267    43202
2    19269    43202
3    19271    43202
4    19268    43205
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1348
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    19283    43207
1    19289    43207
2    19290    43207
3    19284    43209
4    19285    43209
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1355
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    19355    43210
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1357
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    19358    43211
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1362
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    19391    43212
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1363
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    19392    43213
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1368
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    19405    43214
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1373
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    19433    43215
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1375
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    19436    43216
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1377
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    19443    43219
1    19446    43219
2    19444    43218
3    19448    43218
4    19445    43217
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1378
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    19449    43223
1    19450    43223
2    19453    43223
3    19451    43220
4    19452    43220
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1379
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    19459    43224
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1385
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    19475    43227
1    19476    43227
2    19478    43227
3    19480    43227
4    19482    43227
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1387
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    19486    43228
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1388
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    19487    43229
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1394
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    19500    43230
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1395
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    19501    43231
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1399
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção

   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    19510    43232
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1401
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    19513    43241
1    19514    43241
2    19515    43241
3    19524    43241
4    19525    43241
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1403
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    20172    43247
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1406
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    20178    43248
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1408
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    20184    43249
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1409
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    20185    43250
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1410
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    20186    43251
1    20187    43251
2    20188    43251
3    20189    43251
4    20190    43251
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1412
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    20198    43255
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1414
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    20202    43256
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1416
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    20207    43257
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1421
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    20240    43258
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1423
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    20247    43260
1    20248    43259
2    20249    43259
3    20250    43259
4    20251    43259
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1424
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    20255    43264
1    20256    43262
2    20259    43262
3    20260    43262
4    20261    43262
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1425
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    20268    43265
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1432
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    20330    43266
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1437
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    20349    43267
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1439
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    20353    43269
1    20357    43269
2    20358    43269
3    20359    43269
4    20360    43269
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1441
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    20375    43271
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1443
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    20378    43272
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1444
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    20379    43273
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1446
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    20383    43275
1    20384    43275
2    20385    43274
3    20386    43274
4    20387    43274
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1449
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    20399    43279
1    20408    43279
2    20400    43277
3    20401    43277
4    20402    43277
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1450
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    20409    43280
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1452
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção

   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    20414    43281
1    20415    43281
2    20416    43281
3    20417    43284
4    20418    43282
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1454
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    20425    43285
1    20426    43285
2    20427    43285
3    20428    43285
4    20429    43286
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1456
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    20441    43290
1    20444    43290
2    20445    43290
3    20448    43290
4    20442    43292
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1457
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    20449    43294
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1459
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    20452    43297
1    20453    43297
2    20454    43297
3    20455    43295
4    20456    43295
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1464
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    20480    43300
1    20481    43300
2    20483    43300
3    20486    43300
4    20488    43300
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1470
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    20510    43303
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1471
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    20511    43306
1    20516    43306
2    20517    43306
3    20512    43305
4    20513    43305
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1472
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    20518    43307
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1474
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    20524    43308
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1475
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    20525    43309
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1476
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    20526    43311
1    20528    43311
2    20530    43311
3    20527    43312
4    20532    43312
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1484
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    20581    43313
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1489
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    20592    43314
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1493
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    20609    43315
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1494
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    20610    43318
1    20611    43318
2    20612    43316
3    20613    43316
4    20614    43316
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1499
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    20656    43319
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1500
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    20657    43320
1    20660    43320
2    20658    43323
3    20662    43323
4    20659    43324
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1505
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    20768    43325
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1508
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    20778    43328
1    20779    43326
2    20781    43326
3    20782    43326
4    20784    43326
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1512
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    20793    43329
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1514
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    20797    43330
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1516
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção

   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    20800    43333
1    20801    43333
2    20802    43335
3    20805    43335
4    20803    43331
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1517
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    20812    43336
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1520
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    20821    43337
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1524
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    20844    43338
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1526
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    20847    43340
1    20848    43340
2    20850    43340
3    20852    43340
4    20853    43340
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1534
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    20875    43345
1    20886    43345
2    20876    43343
3    20881    43343
4    20882    43343
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1535
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    20888    43347
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1536
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    20889    43348
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1537
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    20890    43351
1    20891    43349
2    20892    43349
3    20893    43349
4    20894    43349
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1541
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    20922    43352
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1542
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    20923    43355
1    20927    43355
2    20924    43353
3    20926    43353
4    20928    43353
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1543
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    20932    43356
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1545
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    20941    43359
1    20951    43359
2    20942    43357
3    20943    43357
4    20944    43357
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1546
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    20952    43360
1    20956    43360
2    20957    43360
3    20958    43360
4    20953    43362
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1547
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    20959    43363
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1551
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    20988    43364
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1555
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    21014    43365
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1557
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    21021    43366
1    21022    43366
2    21023    43366
3    21024    43366
4    21025    43366
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1558
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    21029    43370
1    21033    43370
2    21035    43370
3    21030    43371
4    21031    43369
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1561
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    21046    43372
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1563
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    21074    43373
1    21076    43373
2    21077    43373
3    21075    43374
4    21078    43374
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1568
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    21104    43379
1    21106    43379
2    21108    43379
3    21110    43379
4    21105    43377
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1569
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    21113    43380
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1571
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção

   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    21124    43381
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1573
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    21129    43382
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1574
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    21130    43391
1    21156    43391
2    21180    43391
3    21181    43391
4    21194    43391
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1575
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    21632    43405
1    21633    43405
2    21650    43405
3    21688    43405
4    21689    43405
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1576
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    22173    43413
1    22177    43413
2    22178    43413
3    22217    43413
4    22219    43413
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1579
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    22758    43417
*****%%******
Iniciando Persistencia
Sucesso na inserção
Processando a sent: 1580
   -> Criando Grupos:
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
Iniciando Persistencia
Sucesso na inserção
   -> Adicionando Tupla Grupo:
*************
tupla_id    object
grupo_id    object
dtype: object
  tupla_id grupo_id
0    22759    43424
1    22760    43424
2    22761    43424
3    22791    43424
4    22792    43424
*****%%******
Iniciando Persistencia
Sucesso na inserção

In [19]:
df_tupla_grupo['grupo_id'] = df_tupla_grupo['grupo_id'].astype(str)
df_tupla_grupo['tupla_id'] = df_tupla_grupo['tupla_id'].astype(str)
print(df_tupla_grupo.dtypes)
df_tupla_grupo

tupla_id    object
grupo_id    object
dtype: object

  tupla_id grupo_id
0       86    39610

In [20]:
# grupo_id = ["1","1","3"]
# tag_metodo = ['teste','teste','teste']
# sentenca_id = ["1","1","3"]
# num_grupo = ["1","1","3"]

# grupo_id = [1,1,3]
# tag_metodo = ["teste","teste","teste"]
# sentenca_id = [1,1,3]
# num_grupo = [1,1,3]

grupo_id = [1]
tag_metodo = ["teste"]
sentenca_id = [1]
num_grupo = [1]


aux = pd.DataFrame({"tag_metodo": tag_metodo, "sentenca_id":sentenca_id,"num_grupo":num_grupo})

status = replace_df(df_tupla_grupo,"grupo_resumo_teste", conn)

Iniciando Persistencia
Infelizmente algo deu errado na inserção (persistir_uma_linha)
(1054, "Unknown column 'tupla_id' in 'field list'")

In [70]:
aux

   grupo_id tag_metodo  sentenca_id  num_grupo
0         1      teste            1          1
1         1      teste            1          1
2         3      teste            3          3